
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: #0f0f0f;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.05);
    position: sticky;
    top: 0;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
}

.hero span {
    color: #00d9ff;
}

.buttons .btn {
    margin-top: 20px;
    padding: 12px 30px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    background: #00d9ff;
    display: inline-block;
    margin-right: 10px;
}

.section {
    padding: 70px 10%;
}

.project-card {
    background: rgba(255,255,255,0.08);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
